.general-wrapper {
  background-color: #0C0C0C !important;
  min-height: 100vh;
  color: #fff;
}

.p1-wrapper {
  padding-bottom: 4em;
}

.neon-divider {
  height: 2px;
  width: 100%;
  background-color: #FFA417;
  box-shadow: 0 0 10px #FFA417, 0 0 20px #FFA417, 0 0 30px #FFA417;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.9;
}

.p2-wrapper {
  background-color: #151515;
}